<h1>About</h1>

<div style="font-family: Arial, sans-serif; color: #333; line-height: 1.6;">
  <h1 style="text-align: center; font-size: 28px; margin-bottom: 20px;">
    Welcome to <span style="color: #FF9900;">The Rule of Two Collectables</span>!
  </h1>
  <p style="text-align: justify;">
    We're your premier destination for a galaxy of collectibles. Explore our extensive selection of Star Wars action figures, featuring the iconic 3.75-inch and 6-inch renditions. Immerse yourself in the detailed world of Transformers with our Studio Series and Masterpiece editions. Embrace the heroics of GI Joe through our exclusive 6-inch Classified Series, and discover the vast universe of Marvel Legends.
  </p>
  <p style="text-align: justify;">
    At <span style="color: #FF9900;">The Rule of Two Collectables</span>, we cater to both seasoned collectors and passionate enthusiasts. Our curated selection offers something for every fan, ensuring you find cherished memorabilia that brings your favorite worlds to life.
  </p>
  <p style="text-align: center; font-style: italic;">
    Step into our store and start your journey in collecting beloved characters and iconic treasures!
  </p>
</div>

<div class="toy-images-container">
  <% @random_toy_images.each do |collection_name, toy_info| %>
    <div class="collection-toy">
      <h3><%= toy_info[:brand_name] || 'N/A' %> - <%= collection_name %></h3>
      <% if toy_info.present? %>
        <%= image_tag toy_info[:image], alt: "#{collection_name} Toy Image" %>

      <% else %>
        <p>No toy image available for this collection.</p>
      <% end %>
    </div>
  <% end %>
</div>




<br/>