<h1 class="headline"><%= @brand.name %></h1>
<p class="headline-description"><%= @brand.description %></p>
<br/>
<ul class="collection-list">
  <% @collections.each do |collection| %>
    <li><%= link_to collection.name, collection %></li>
  <% end %>
</ul>