<footer>
    <br/>
    <p><strong>Rule Of Two Collectables</strong></p>
    <p>Your source for exclusive and high-quality collectibles. Explore a galaxy of unique items that celebrate your favorite franchises. Whether you're a collector or a fan, Rule Of Two is dedicated to bringing you the finest in memorabilia.</p>

    <p>Connect with us:</p>
    <p>
        <a href="#" target="_blank">Website</a>
        <a href="#" target="_blank">Facebook</a>
        <a href="#" target="_blank">Instagram</a>
        <a href="#" target="_blank">Twitter</a>
    </p>

    <p>&copy; 2023 Rule Of Two Collectables. All rights reserved.</p>
</footer>